extends layout

block variables
  - var title = "Home"

block content
  h2.text-center Express App

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
       So are per Task3 Try to on localhost:3000/Dashboard it gonna ask you login 
     
      .h3.text-center  First i taught to use session do it easily but i always want to try Express Js so maded on it back and session mangement by Okta